Repository SOPT-29th-Joint-Seminar-5/Remember-iOS, pull requests merged in 2021-11, with the labels that each got.

#6 [FEAT] 커뮤니티 뷰 UI 구성
  Remember-iOS/Podfile.lock
  Remember-iOS/Remember-iOS.xcodeproj/project.pbxproj
  Remember-iOS/Remember-iOS.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/bell.imageset/Contents.json
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/bell.imageset/bell.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/bell.imageset/bell@2x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/bell.imageset/bell@3x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/buttonCell.imageset/Contents.json
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/buttonCell.imageset/buttonCell.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/buttonCell.imageset/buttonCell@2x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/buttonCell.imageset/buttonCell@3x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/img_ad.imageset/Contents.json
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/img_ad.imageset/img_ad.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/img_ad.imageset/img_ad@2x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/img_ad.imageset/img_ad@3x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/menu.imageset/Contents.json
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/menu.imageset/menu.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/menu.imageset/menu@2x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/menu.imageset/menu@3x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/zoom-out.imageset/Contents.json
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/zoom-out.imageset/zoom-out.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/zoom-out.imageset/zoom-out@2x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/zoom-out.imageset/zoom-out@3x.png
  Remember-iOS/Remember-iOS/Resource/Views/Nibs/CategoryCVC.xib
  Remember-iOS/Remember-iOS/Resource/Views/Nibs/CommunityTVC.xib
  Remember-iOS/Remember-iOS/Resource/Views/Storyboard/Community.storyboard
  Remember-iOS/Remember-iOS/Source/Cells/CategoryCVC.swift
  Remember-iOS/Remember-iOS/Source/Cells/CommunityTVC.swift
  Remember-iOS/Remember-iOS/Source/Literals/ColorLiteral.swift
  Remember-iOS/Remember-iOS/Source/Literals/ImageLiteral.swift
  Remember-iOS/Remember-iOS/Source/Models/AppContentDataModel.swift
  Remember-iOS/Remember-iOS/Source/ViewControllers/CommunityVC.swift
Labels: 은주🌸, Home

#8 Feature/3 post layout
  Remember-iOS/Podfile.lock
  Remember-iOS/Remember-iOS.xcodeproj/project.pbxproj
  Remember-iOS/Remember-iOS/Resource/Views/Storyboard/Community.storyboard
  Remember-iOS/Remember-iOS/Source/Extensions/UIView+.swift
  Remember-iOS/Remember-iOS/Source/Literals/ColorLiteral.swift
  Remember-iOS/Remember-iOS/Source/ViewControllers/CreatePostVC.swift
Labels: 윤아💐, Create-Post

#12 [FEAT] Custom TabBar 구현
  Remember-iOS/Podfile.lock
  Remember-iOS/Remember-iOS.xcodeproj/project.pbxproj
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/icbtComment.imageset/Contents.json
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/icbtComment.imageset/icbtComment.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/icbtComment.imageset/icbtComment@2x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/icbtComment.imageset/icbtComment@3x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/icbt_write.imageset/Contents.json
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/icbt_write.imageset/icbt_write.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/icbt_write.imageset/icbt_write@2x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/icbt_write.imageset/icbt_write@3x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/icon_messagecircle_unseleted.imageset/Contents.json
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/icon_messagecircle_unseleted.imageset/icon_messagecircle_unseleted.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/icon_messagecircle_unseleted.imageset/icon_messagecircle_unseleted@2x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/icon_messagecircle_unseleted.imageset/icon_messagecircle_unseleted@3x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/message-circle.imageset/Contents.json
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/message-circle.imageset/message-circle.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/message-circle.imageset/message-circle@2x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/message-circle.imageset/message-circle@3x.png
  Remember-iOS/Remember-iOS/Resource/Info.plist
  Remember-iOS/Remember-iOS/Resource/Views/Storyboard/Community.storyboard
  Remember-iOS/Remember-iOS/Resource/Views/Storyboard/TabBar.storyboard
  Remember-iOS/Remember-iOS/Source/Extensions/CALayer+.swift
  Remember-iOS/Remember-iOS/Source/Literals/ImageLiteral.swift
  Remember-iOS/Remember-iOS/Source/ViewControllers/TabBarVC.swift
Labels: 은주🌸, Home

#10 Feature/9 post detail
  Remember-iOS/Podfile.lock
  Remember-iOS/Remember-iOS.xcodeproj/project.pbxproj
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/btnComment.imageset/Contents.json
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/btnComment.imageset/btnComment.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/btnComment.imageset/btnComment@2x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/btnComment.imageset/btnComment@3x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/btnGoodUnselected.imageset/Contents.json
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/btnGoodUnselected.imageset/btnGoodUnselected.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/btnGoodUnselected.imageset/btnGoodUnselected@2x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/btnGoodUnselected.imageset/btnGoodUnselected@3x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/btnSend.imageset/Contents.json
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/btnSend.imageset/btnSend.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/btnSend.imageset/btnSend@2x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/btnSend.imageset/btnSend@3x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/iconNew.imageset/Contents.json
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/iconNew.imageset/iconNew.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/iconNew.imageset/iconNew@2x.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/iconNew.imageset/iconNew@3x.png
  Remember-iOS/Remember-iOS/Resource/Views/Nibs/CommentSection.xib
  Remember-iOS/Remember-iOS/Resource/Views/Nibs/CommentTVC.xib
  Remember-iOS/Remember-iOS/Resource/Views/Nibs/ContentTVC.xib
  Remember-iOS/Remember-iOS/Resource/Views/Nibs/TypeCVC.xib
  Remember-iOS/Remember-iOS/Resource/Views/Storyboard/Community.storyboard
  Remember-iOS/Remember-iOS/Source/Base/DataTableViewController.swift
  Remember-iOS/Remember-iOS/Source/Cells/CommentTVC.swift
  Remember-iOS/Remember-iOS/Source/Cells/ContentTVC.swift
  Remember-iOS/Remember-iOS/Source/Cells/TypeCVC.swift
  Remember-iOS/Remember-iOS/Source/Components/CommentHeader.swift
  Remember-iOS/Remember-iOS/Source/Components/CommentSection.swift
  Remember-iOS/Remember-iOS/Source/Components/NavigationBar.swift
  Remember-iOS/Remember-iOS/Source/Extensions/UILabel+.swift
  Remember-iOS/Remember-iOS/Source/Extensions/UIViewController+.swift
  Remember-iOS/Remember-iOS/Source/Manager/PostManager.swift
  Remember-iOS/Remember-iOS/Source/Models/Content.swift
  Remember-iOS/Remember-iOS/Source/ViewControllers/CreatePostVC.swift
  Remember-iOS/Remember-iOS/Source/ViewControllers/DetailPostVC.swift
Labels: 윤아💐, Post-Detail

#13 Feature/11 flow
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/AppIcon.appiconset/1024.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/AppIcon.appiconset/114.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/AppIcon.appiconset/120.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/AppIcon.appiconset/180.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/AppIcon.appiconset/29.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/AppIcon.appiconset/40.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/AppIcon.appiconset/57.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/AppIcon.appiconset/58.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/AppIcon.appiconset/60.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/AppIcon.appiconset/80.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/AppIcon.appiconset/87.png
  Remember-iOS/Remember-iOS/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  Remember-iOS/Remember-iOS/Resource/Views/Nibs/CommentSection.xib
  Remember-iOS/Remember-iOS/Resource/Views/Storyboard/Community.storyboard
  Remember-iOS/Remember-iOS/Source/Base/DataTableViewController.swift
  Remember-iOS/Remember-iOS/Source/Cells/CommunityTVC.swift
  Remember-iOS/Remember-iOS/Source/Cells/ContentTVC.swift
  Remember-iOS/Remember-iOS/Source/Components/CommentSection.swift
  Remember-iOS/Remember-iOS/Source/Manager/PostManager.swift
  Remember-iOS/Remember-iOS/Source/ViewControllers/CommunityVC.swift
  Remember-iOS/Remember-iOS/Source/ViewControllers/CreatePostVC.swift
  Remember-iOS/Remember-iOS/Source/ViewControllers/DetailPostVC.swift
  Remember-iOS/Remember-iOS/Source/ViewControllers/TabBarVC.swift
Labels: 윤아💐, Home, Create-Post, Post-Detail

#15 ➕[ADD] Server base 추가(#14)
  Remember-iOS/Remember-iOS.xcodeproj/project.pbxproj
  Remember-iOS/Remember-iOS/Network/APIService/MainService.swift
  Remember-iOS/Remember-iOS/Network/APIService/PostService.swift
  Remember-iOS/Remember-iOS/Network/Foundation/GeneralAPI.swift
  Remember-iOS/Remember-iOS/Network/Foundation/NetworkLoggerPlugin.swift
  Remember-iOS/Remember-iOS/Network/Manager/MainManager.swift
  Remember-iOS/Remember-iOS/Network/Manager/PostManager.swift
  Remember-iOS/Remember-iOS/Network/Model/AppContentDataModel.swift
  Remember-iOS/Remember-iOS/Network/Model/Content.swift
  Remember-iOS/Remember-iOS/Network/Model/PostRequest.swift
Labels: 윤아💐, Repo
